body {
    font-size: 16px;
    font-family: Rubik;
    color: rgb(71, 71, 71);
    line-height: 1;
    background-color: rgb(14, 3, 28) !important;
}

.app-ltr-1af5xyq .keen-slider__slide{
    min-width: 340px !important;
    max-width: 340px !important;
}


.app-ltr-1af5xyq .keen-slider__slide img{
    width:100% !important;
    height:170px !important;
    object-fit:cover !important;
    border-radius:14px !important;
}


.app-ltr-1af5xyq.keen-slider{
    gap:18px !important;
}


.app-ltr-zitybv{
    padding:30px 80px 35px !important;
}

.app-ltr-1e49d54{
    margin-bottom:22px !important;
}
.app-ltr-bshhsh{color:white !important;}

[data-mj="widget-collection-slider-list"] .keen-slider__slide{
    min-width:calc(25% - 12px) !important;
    max-width:calc(25% - 12px) !important;
}


[data-mj="widget-collection-slider-list"]{
    gap:16px !important;
}
@media(max-width:768px){

[data-mj="widget-collection-slider-list"] .keen-slider__slide{
    min-width:calc(50% - 8px) !important;
    max-width:calc(50% - 8px) !important;
}

}
